DupinSoC_apbDecoder_input@10000000 {
  compatible = "simple-bus";
  #address-cells = <0x1>;
  #size-cells = <0x1>;
  ranges = <0x0 0x10000000 0x1000000>;
                
  DupinSoC_uart0_apb: tty@10000 {
    compatible = "titan_ip-lib,uart-1.0";
    reg = <0x10000 0x1000>;
    interrupt-parent = <&DupinSoC_plic_apb>
    interrupts = <1>;
  }
  DupinSoC_gpio0_apb: gpio@0 {
    compatible = "titan_ip-lib,gpio-1.0";
    reg = <0x0 0x1000>;
    interrupt-parent = <&DupinSoC_plic_apb>
    interrupts = <2 3 4 5>;
  }
  DupinSoC_gpio1_apb: gpio@50000 {
    compatible = "titan_ip-lib,gpio-1.0";
    reg = <0x50000 0x1000>;
  
  }
  DupinSoC_intc0_apb: gpio@80000 {
    compatible = "titan_ip-lib,gpio-1.0";
    reg = <0x80000 0x1000>;
    interrupt-parent = <&DupinSoC_plic_apb>
    interrupts = <7 8 9 10>;
  }
  DupinSoC_plic_apb: interrupt-controller@c00000 {
    compatible = "sifive,plic-1.0.0", "sifive,fu540-c000-plic";
    #interrupt-cells = <1>;
    interrupt-controller;
    interrupts-extended = <&L1 11 &L1 9>;
    reg = <0xc00000 0x400000>;
    riscv,ndev = <10>;
  }
  DupinSoC_spi0_apb: spi@70000 {
    compatible = "titan_ip-lib,spi-1.0";
    #address-cells = <1>;
    #size-cells = <0>;
    reg = <0x70000 0x1000>;
  }
  DupinSoC_spixip_apb: spi@20000 {
    compatible = "titan_ip-lib,spi-1.0";
    #address-cells = <1>;
    #size-cells = <0>;
    reg = <0x20000 0x1000>;
  }

};
